.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href:"/"}Lorem startupism
      %ul.nav#main-menu-left
        %li
          %a{href:"https://github.com/wilhelmbot/startup-ipsum", target:'_blank'}Fork me
      %ul.nav.pull-right#main-menu-right{style:"padding-top: 6px"}
        %li &nbsp;
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://startupism.herokuapp.com/" data-text="Lorem Startupism: Generating Startup Pitches Since 2013" data-via="rodowi" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

