.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href:"/"}Lorem startupism
      %ul.nav#main-menu-left
        %li
          %a{href:"https://github.com/wilhelmbot/startup-ipsum", target:'_blank'}Fork me
      %ul.nav.pull-right#main-menu-right{style:"padding-top: 6px"}
        %li &nbsp;
        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1368146021.html#_=1369615534917&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fdivshot.github.io%2Fgeo-bootstrap%2F&amp;size=l&amp;text=Geo%2C%20a%20new%20Bootstrap%20theme%20from%20Divshot&amp;url=http%3A%2F%2Fdivshot.github.io%2Fgeo-bootstrap%2F&amp;via=divshot" class="twitter-share-button twitter-count-horizontal" style="width: 138px; height: 28px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

